

<!-- External Libraries -->
<script src="/user/assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="/user/assets/js/bootstrap.bundle.min.js"></script>
<script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/user/assets/js/jquery.waypoints.min.js"></script>
<script src="/user/assets/js/superfish.min.js"></script>
<script src="/user/assets/js/owl.carousel.min.js"></script>
<script src="/user/assets/js/bootstrap-input-spinner.js"></script>
<script src="/user/assets/js/jquery.elevateZoom.min.js"></script>
<script src="/user/assets/js/jquery.magnific-popup.min.js"></script>

<!-- Include SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Your Main JS Files -->
<script src="/user/assets/js/main.js"></script>
<script src="/user/assets/js/demos/demo-9.js"></script>
<script src="/user/assets/js/jquery.plugin.min.js"></script>
<script src="/user/assets/js/jquery.countdown.min.js"></script>

</body>
</html>